.betterSelect_div {
    display: inline-block;
    min-width: 11em;
}

.betterSelect_hidden {
    display: none;
}

.betterSelect_selector {
    /*position: relative;*/
    /*position: relative;
    top: 0;*/
    /*display: inline-block;*/

    min-width: 10em;
}

.betterSelect_list {
    /*position: relative;
    bottom: 0;
    left: 0;*/
    /*display: inline-block;*/
    min-width: 10em;
    height: 10em;
    overflow-x: auto;
    overflow-y: scroll;

    border: .1em solid #000;
}

.betterSelect_list ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.betterSelect_list li {
    padding: .1em .5em;
}

.betterSelect_list li.betterSelect_liSelected {
    background: #F0F0F0;
}
